html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: "Playfair Display", sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 21px;
}

.container{
    width: 901px;
    margin: 0 auto;
}

img{
    display: block;
    max-width: 100%;
    height: auto;

}

.main-nav{
    padding-top: 78px;
    padding-bottom: 103px;
}

.main-menu{
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-menu-item{
    display: inline-block;
}

.main-menu-item:first-of-type{
    margin-right: 122px;
}

.main-menu-item:nth-of-type(2){
    margin-right: 106px;
}

.main-menu-item:nth-of-type(3){
    margin-right: 100px;
}

.main-menu-item:nth-last-of-type(4){
    margin-right: 0;
}

.main-menu a{
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 17px;
}

.main-menu a:hover,
.main-menu a:focus{
    color: #03a9f4;
}

.content{
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-item{
    display: inline-block;
    width: 421px;
    margin-right: 60px;
}
