html {
    box-sizing: border-box;
    ;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 21px;
    color: #555252;
    margin: 0 auto;

}

.wrapper {
    margin: 0 auto;
}

.page-header {
    margin: 0 auto;
    padding: 45px 0;
    width: 1110px;
}

.page-nav{
  vertical-align: middle;
}

.logo {
    float: left;
    text-decoration: none;
    color: #555252;
    font-family: Roboto;
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    margin: 0;
}

.logo::first-letter {
    color: #1abc9c;
    font-family: Roboto;
    font-weight: 900;
    letter-spacing: -0.6px;
}

.page-menu {
    display: block;
    float: right;
    width: 465px;
    list-style: none;
}

.page-menu li {
    float: left;
    display: block;
    padding: 5px, 0;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.page-menu-item {
    margin-right: 27px;
}

.page-menu-item a {
    display: block;
    text-decoration: none;
    color: #0f0101;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
}

.page-menu-item a:hover {
    color: #1abc9c;
}

.page-menu-item:nth-of-type(6) {
    margin-right: 0;
}


/* MAIN*/
.main-content {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.3) 50%), url(../img/background.png);
    position: relative;
}

.wrapper{
    background-color: #e9f0fd;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    z-index: 1;
    transform: translate(-50%, -50%);

}

.title {
    font-family: "Roboto"sans-serif;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -1.2px;
    line-height: 72px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.offers {
    text-align: left;
    color: #fff;
    font-family: "Roboto";
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    text-transform: uppercase;
}

.button-left,
.button-right{
    position: absolute;
    height: 105px;
    width: 105px;
    background-color: rgba(26, 188, 156, 1);
    opacity: 0.65;
    border: none;
    color: #fff;
    font-size: 100px;
    font-weight: 300;
}

.button-left:focus,
.button-right:focus{
    overflow: hidden;
}

 .button-left {
    top: 50%;
    left: 180px;
    transform: translateY(-50%);

}

.button-right {
    top: 50%;
    right: 180px;
    transform: translateY(-50%);
}

.btn-sign {
    position: absolute;
    top: -15px;
    left: 30px;
}

/* NEW COLLECTION*/

.new-collection {
    margin: 0 auto;
    width: 1110px;
    padding-top:100px;
    padding-bottom: 80px;
}

.product-title {
    margin: 0;
    text-align: center;
    color: #515151;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.product-title::after {
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
    margin: 0 auto;
    margin-top: 30px;
}

.product {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product li {
    float: left;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.product-item {
    margin-right: 30px;
    position: relative;
}

.product-item:last-child {
    margin-right: 0;
}

.product-item-link {
    margin: 0;
    text-decoration: none;
    display: block;
}

.product-description {
    margin: 0;
    font-size: 0;
    width: 255px;
    height: 40px;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.product-name {
    margin: 0;
    display: inline-block;
    width: 200px;
    height: 40px;
    padding: 10px 13px;
    background-color: #323232;
    color: #fff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}

.product-price {
    margin: 0;
    display: inline-block;
    width: 55px;
    height: 40px;
    padding: 10px 13px;
    background-color: #8c8c8c;
    color: #fff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}

.product-item-link:hover .product-name {
    background: #1abc9c;
}

.product-item-link:hover .product-price {
    background: #1abc9c;
    opacity: 0.5;
}

.product-item:hover .box {
    display: block;
}

.box {
    position: absolute;
    width: 238px;
    height: 260px;
    background-color: rgb(45%, 45%, 45%, 0.7);
    display: none;
    top: 3%;
    left: 3%;
}


.absolute-box {
    position: absolute;
    width: 165px;
    height: 108px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.box:hover {
    background-color: rgb(45%, 45%, 45%, 0.7);
    display: block;
}

.heart {
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    background-image: url(../img/heart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
}

.arrow {
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
}

.clock {
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
}

.market {
    height: 50px;
    width: 158px;
    border: 1px solid #fff;
    background-image: url(../img/market.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: -0.28px;
}

.heart:hover {
    background-color: #1abc9c;
}

.arrow:hover {
    background-color: #1abc9c;
}

.clock:hover {
    background-color: #1abc9c;
}

.market:hover {
    background-color: #1abc9c;
}

/* FOOTER*/

.footer {
    margin: 0 auto;
    height: 88px;
    background-color: #323232;

}

.footer-item {
    color: #fefefe;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    padding-top: 30px;
}

.footer-span{
    color: #1abc9c;
}

