html {
    box-sizing: border-box;
    ;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto";
    font-size: 15px;
    color: #999;
    margin: 0 auto;
    line-height: 24px;

}

.container{
    width: 100%;
    margin: 0 auto;
}

.page-header{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    height: 100px;
}

.logo{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #95e1d3;
    justify-content:flex-start;
}

.page-nav{
    display: flex;
    justify-content: flex-end;
    max-width:  500px;
    width: 100%;
}

.page-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width:  500px;
    width: 100%;
    align-items:flex-end;
}

.page-menu-item{
    list-style: none;
    position: relative;
}

.page-menu-link{
    position: absolute;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    color: #95e1d3;
    transition: color 0.2s linear;
    
}

.page-menu-link:hover:after{
        content: '';
        margin-top: 12px;
        width: 100%;
        height: 3px;
        display: block;
        background-color: #f38181; 
}

.page-menu-link:hover{
    color: #f38181;
} 


/* MAIN STYLES */

.wrapper{
   max-width: 1200px;
   margin: 0 auto;
}

.main-services{
padding-bottom: 50px;
}

.titles{
    text-align: center;
    padding-top: 50px;
}

.subtitle{
    color: #333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}

.title{
    color: #333;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.title::after {
    display: block;
    content: '';
    margin: 0 auto;
    margin-top: 43px;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 65px;
}

.services-item{
    display: flex;
    list-style: none;
    flex-basis: 335px;
    justify-content: space-around;
    margin-bottom: 100px;
    align-items: flex-start;
}

.services-item::before{
  background: url(src="../img/ALARM_1.png");
  width: 32px;
  height: 32px;
}

.services-item:nth-of-type(n+3){
    margin-bottom: 0;
}
.img-services{
    margin-right: 30px;
}

.services-item-name{
    color: #333;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.services-description{
    color: #999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.team{
 padding-bottom: 85px;
 border-bottom: 1px solid #e5e5e5;
}

.team-list{
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

.team-item{
    list-style: none;
    position: relative;
}

.team-image{
    margin-bottom: 20px;
}

.team-name{
   text-align: center;
   font-family: "Montserrat";
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   line-height: 21px;
   color: #333;
}

.team-activity{
   text-align: center;
   color: #999;
   font-family: "Roboto";
   font-size: 15px;
   font-weight: 300;
   font-style: italic;
   line-height: 24px;
}



/* FOOTER_SITE STYLES */


.site-footer{
   display: flex;
   padding: 25px 0;
   justify-content: space-between;
}

.footer-text{
    color: #333;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    align-self: center;
}

span{
    color:  #f38181;
}

.require-field{
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    color: #cccccc;
   font-family: "Roboto";
   font-size: 15px;
   font-weight: 300;
   font-style: italic;
   line-height: 24px;
}

.footer-require{
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-button{
 display: flex;
}

.team-item{
    position: relative;    
}


.icons{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fce38a;
    opacity: 0;
    background:linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}
.icons a{
    transition: background-color 0.2s linear;
}
.facebook {
    top: 0;
    left:0;
    height: 56px;
    width: 56px;
    border-right: 1px solid #f38181;
    background-image: url(../img/facebook_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(185, 90, 34);
    cursor: pointer;
    transition: background-color 0.2s linear;
    background-color: #fce38a;
}

.twitter {
    left: 56px;
    height: 56px;
    width: 56px;
    border-right: 1px solid #f38181;
    background-image: url(../img/twitter_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.pinterest {
    height: 56px;
    width: 56px;
    border-right: 1px solid #f38181;
    background-image: url(../img/pinterest_3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.instagram {
    height: 56px;
    width: 56px;
    background-image: url(../img/instagram_4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.facebook:hover{
    background-color: #95e1d3;
}

.twitter:hover{
    background-color: #95e1d3;
}

.pinterest:hover{
    background-color: #95e1d3;
}

.instagram:hover{
    background-color: #95e1d3;
}




.team-item{
    position: relative;
    width: 380px;
}

.team-item-link{
    display: block;
    width: 100%;
    height: 470px;;
    
    opacity: 1;
    transform:rotateX(10deg);
    transition-duration: 0.2s; 
    transition-timing-function: linear;
}

.team-item:hover .team-item-link{   
    display: block;
    width: 100%;
    background: transparent;    
    background:linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    box-shadow: 10px 10px 0 0 #95e1d3;
    transform: translate(-10px, -10px);
    opacity: 1;
}

.team-item-link:after{
    content: "";
    opacity: 1;
    box-shadow: 10px 10px 0 0 #95e1d3;
    transform:rotateX(10deg);
    transition-duration: 0.2s; 
    transition-timing-function: linear;
    position: absolute;
}

.team-item:hover .icons{
    position: absolute;
    opacity: 1;
    z-index: 2;
}
/* 
.team-item:hover:after{
    position: absolute;
    top: 0;    
    left: 0;   
    display: block;
    width: 100%;
    height: 470px;
    background: transparent;    
    background-image:linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    box-shadow: 10px 10px 0 0 #95e1d3;
    transform:rotateX(10deg);
    transform: translate(-10px, -10px);
    transition-duration: 0.2s; 
    transition-timing-function: linear;
    opacity: 1;
} */




